# folders
node_modules
coverage
build
dist

# dot
.nuxt
.env

# files
sitemap.xml.gz
sitemap.xml
todo.md
sw.js

# examples
examples/basic/*
examples/fancy/*
!examples/basic/package.json
!examples/basic/changelog.md
!examples/fancy/package.json
!examples/fancy/changelog.md

# logs
*.log

# system
.DS_Store
