$heading-font-fallback: "Arial Narrow", sans-serif;
$heading-font-family: "Barlow Condensed", $heading-font-fallback;

$mono-font-fallback: "Monaco", monospace;
$mono-font-family: "Roboto Mono", $mono-font-fallback;

$white: #ffffff;
$smoke: #f2f2f8;
$black: #101020;

$green-1: #00c58e;
$green-2: #108775;
$green-3: #2f495e;
